springbootWithMongoDB_practice/bin/*
springbootWithMongoDB_practice/.classpath/*
springbootWithMongoDB_practice/.gitignore/*
springbootWithMongoDB_practice/.project/*
springbootWithMongoDB_practice/.settings/*
springbootWithMongoDB_practice/target/*