<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/result}" th:object="${dataObj}" method="post">
    <p>Id: <input type="text" class="none_select"  th:field="*{id}"/></p>
    <p>Item: <input type="text" th:field="*{item}" /></p>
    <p>Qty: <input type="text" th:field="*{qty}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>